<app-header></app-header>
<main>
  <div class="forgot-container">

    <h1 *ngIf="!validToken" class="message-token">
      EL link no es válido o ha expirado!
    </h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="validToken">
      <div class="inside-form-container">
          <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Nueva contraseña" formControlName="password"
                  [formGroup]="form" required [(ngModel)]="password" (ngModelChange)="passwordChange()">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>

          <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="repetir contraseña" formControlName="confirmPassword"
                  [formGroup]="form" required>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Cambiar</button>
          <div class="messages-container">
            <p *ngIf="form.controls['confirmPassword'].errors?.['MatchPassword']">contraseña no coincide</p>
            <p *ngIf="message">{{message}}</p>
            <p *ngIf="error">{{error}}<p>
          </div>
      </div>
    </form>
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="goToHome()">Ir a página principal</button>
    </div>
  </div>
</main>
<app-footer></app-footer>
